* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

body {
    height: 100vh;
    background: url(https://static.vecteezy.com/system/resources/previews/025/507/867/original/museum-ticket-icons-set-flat-control-guide-vector.jpg) repeat;
    background-size: 500px;
    padding-left: 5%;
    padding-right: 5%;
    transition: all 1s ease-in-out;
}

#glass {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .5);
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(10px);
    max-width: 1200px;
    margin-top: 5rem;
    height: var(--glass-height);
    overflow: hidden;
    transition: all 1s ease-in-out;
}

.btn {
    width: 100px !important;
    border: 0!important;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn#generate {
    background-color: #0d6dfd !important;
}

.w-80 { width: 80%; }
.barred { text-decoration: line-through; }

#ticket {
    background-color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
}

#ticket > .row {
    height: var(--ticket-height);
}

#ticket > .row > :first-child {
    background-color: rgba(0, 0, 0, 0.5);
}